@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 100%);
    display: flex;    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: #fff;
    width: 70%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow:0 0 20px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    /* text-align: center; */
}
#header{
    padding: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-text{
    font-size: 3rem;
}
#header-text:hover{
    animation: color-change 1s infinite;
}
@keyframes color-change {
    0% { color: #295B94; }
    20% { color: #da5203; }
    40% { color: #03DA63; }
    60% { color: #ABD2FD; }
    80% { color: #31570f; }
    100% { color: #cf48bd; }
}

table {
    display: flex;
    justify-content:flex-start;
}
td{
    transition: all .2s ease-in-out; 
    width: 100%;
    text-align: left;
    padding: 1rem;
    display: flex;
}
td:hover{
    transform: scale(1.1,1.1);
    border-radius: 20px;
    box-shadow:0 0 20px 5px rgba(0, 0, 0, 0.3);

}
td img{
    padding: 0.5rem;
    border-radius: 20px;
}

.discription{
    padding: 1rem;
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px dotted black;
}
.bio{
    padding-top: 1rem;
    font-size: 1rem;
}